body
{
    margin: 0;
    background-color: rgb(33, 33, 33);
}

#sign-up-page-container
{
    display: flex;
}

#astronaut-image
{
    max-width: 590px;
}

.text
{
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#right-side-container
{
    padding: 20px;
}

#form-header
{
    font-size: 25px;
}

#enrollment-form
{
    background-color: rgb(116, 116, 116);
    padding: 10px 0px 30px 30px;
    margin-left: -20px;
    margin-right: -20px;
    box-shadow: 3px 10px 10px rgb(184, 184, 184);
}

#all-input-sections
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 400px;
    width: 100px;
}

.input-section
{
    display: flex;
    flex-direction: row;
}

#create-account-button
{
    margin-top: 30px;
    border-radius: 10px;
    width: 240px;
    height: 50px;
}